<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239359879353-6fj5irr7e1krer978h6malv6qeotv2gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239359879353-6fj5irr7e1krer978h6malv6qeotv2gl</string>
	<key>API_KEY</key>
	<string>AIzaSyCXuuNozJild-Ra11CAYAZ3BcyeJ039NAY</string>
	<key>GCM_SENDER_ID</key>
	<string>239359879353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guirra.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-3c79f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-3c79f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239359879353:ios:fd5e54073ece0ca95f9368</string>
</dict>
</plist>